


h1, h2, h3 {
    font-family: $headers-font;
}

p, li {
    font-family: $body-font;
}


.home-banner {
    background-size: cover;
    height: 90vh;
    position: relative;

    &__content {
        position: absolute;
        top: 55%;
        left: 27%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        color: $color-white;
        font-weight: 700;
        font-size: 5rem;

        &-p1 {
            display: block;
        }

        &-p2 {
            display: block;
            margin-top: 1.5rem;
        }
    }

    &__btn {
        margin-top: 5rem;

        &:link,
        &:visited,
        & {
            display: inline-block;
            padding: 1.5rem 6.5rem;
            text-transform: uppercase;
            background-color: $color-primary;
            color: $color-white;
            font-size: 2.5rem;
            font-weight: 300;
            font-family: $headers-font;
            border-radius: 100000px;
            text-decoration: none;
            letter-spacing: 1.5px;
            transition: all 0.2s;
        }

        &:hover {
            background-color: $color-primary-dark;
            transform: translateY(-0.3rem);
            box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);
        }

        &:active, &:focus {
            outline: none;
            transform: translateY(-0.1rem);
            box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
        }

    }
}


.best-service {
    padding-top:  5rem;
    padding-bottom: 15rem;
}

.delivery {
    padding-top:  5rem;
    padding-bottom: 20rem;
    background-color: $color-grey-background;


}


.price {
    padding-top:  5rem;
    padding-bottom: 15rem;

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__card {
        width: inherit;
        padding: 1rem 10rem;
    }

    &__img {
        height: 18rem; 
    }

    &__like-btn {
        padding: 0.8rem 10rem;
        font-weight: 400;
        font-size: 2.5rem;
        margin-top: 0;
    }

    &__text {
        font-size: 2.5rem;
        font-weight: 300;
    }
}