.menu-navbar {
    &__list > li {
        display: inline-block;
    }

    &__list {
        margin-bottom: 0;
    }

    &__item {
        margin: 2rem 1.2rem;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
        font-size: 1.8rem;
        & > a {
            text-decoration: none;
            color: $color-grey-dark-1;
        }

        & > a:hover {
            color: $color-primary;
        }
    }
}

.menu-navbar-fixed {
    position: sticky;
    // position: fixed;
    width: 100%;
    top: 0;
    transform: translateZ(0);
    z-index: 10;
    background-color: $color-white;
}


.menu {
    background-color: $color-grey-background;
    height: 200vh;

    &__category-text {
        font-family: $body-font;
        font-size: 2.5rem;
        margin-top: 8rem;
        margin-bottom: 4rem;
    }
}

.my-container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 50px;
    padding-right: 50px;
}


