<nav>

</nav>

<main>
    <section>
        <div class="home-banner">
            <div class="home-banner__content">
                <h1 class="home-banner__text">
                    Любимый макдональдс у вашей двери.
                </h1>
                <a href="#" class="home-banner__btn"> Меню </a>
            </div>
        </div>
    </section>
</main>
