



// Linear gradient - #C2413B



// 
// primary - #D23333
// Primary-dark - #C22F2F
// Light - #E83737
// 


// Grey light 1: #faf9f9
// Grey light 2: #f4f2f2
// Grey light 3: #f0eeee
// Grey light 4: #ccc

// Grey dark 1: #333
// Grey dark 2: #777
// Grey dark 3: #999




$color-primary: #D23333;
$color-primary-dark: #BF2F2F;
$color-primary-light: rgba(233, 49, 70, 0.801);

// OLDER COLORS ( MIGTH STILL USE THEM )
// $color-primary-dark: #C22F2F;
// $color-primary-light: #D64545;

$color-grey-dark-1: #333333;

$color-grey-light: #7B7B7B;

$color-black: #000000;
$color-white: #ffffff;

$color-border: #E1E0E4;
